<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" style="color:white;" href="#">TP Angular</a>
    <button class="navbar-toggler" style="background-color: white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" style="color:white;" routerLink="/compte" routerLinkActive="active">Compte</a>
        <a class="nav-item nav-link" style="color:white;" routerLink="/catalogue" routerLinkActive="active">Catalogue</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>